name: CI (Ubuntu)
on: [push, pull_request]

jobs:
  build:
    name: ubuntu-24.04-${{ matrix.c_compiler }}-${{ matrix.build_type }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]
        c_compiler: [gcc-12, gcc-13, gcc-14, clang-16, clang-17, clang-18]
        include:
          - c_compiler: gcc-12
            cpp_compiler: g++-12
          - c_compiler: gcc-13
            cpp_compiler: g++-13
          - c_compiler: gcc-14
            cpp_compiler: g++-14
          - c_compiler: clang-16
            cpp_compiler: clang++-16
          - c_compiler: clang-17
            cpp_compiler: clang++-17
          - c_compiler: clang-18
            cpp_compiler: clang++-18

    steps:
      - name: checkout code
        uses: actions/checkout@v5

      - name: install compilers
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-12 g++-12 gcc-13 g++-13 gcc-14 g++-14 clang-16 clang-17 clang-18

      - name: install htslib
        run: sudo apt-get install -y libhts-dev

      - name: configure cmake
        run: |
          cmake -B build \
            -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }} \
            -DCMAKE_CXX_STANDARD=20 \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DBUILD_TESTING=ON \
            -DBUILD_CLI=ON \
            -S ${{ github.workspace }}

      - name: build
        run: cmake --build build --parallel

      - name: test
        working-directory: build
        run: ctest --output-on-failure